:root {
    .v-application p {
        margin-bottom: 8px;
    }

    .v-text-field {
        padding-top: 0 !important;
    }
    .v-input {
        // Стили для инпута от vuetify
        &__slot {
            margin: 0;
        }
        &__slot::before,
        &__slot::after {
            display: none;
        }
        .v-label {
            top: 11px;
            max-width: 80%;
            z-index: 2;
            background: white;
            padding: 0 2px 0 1px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            height: initial;
            color: rgba(0, 0, 0, 0.6) !important;
        }
        input {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.87);
            padding: 11px 0;
            max-height: none;
        }

        .v-text-field__details {
            display: none;
        }
        outline: 1px solid rgba(0, 0, 0, 0.38) !important;
        border-radius: 4px;
        padding: 0 12px;
    }
}
